.error404
  text-align: center;
  color: #aaa;
  margin-top: 35%;

  span
    font-size: 6rem;

  p
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;