/*! Copyright qiaole@vip.qq.com@Joe. */
body {
  background: url(../images/392c08a55818b9abe6d54c6a63208ff4.jpeg) no-repeat;
}
body #app {
  margin: 5px;
  color: #fff;
}
body #app h1 {
  font-size: 32px;
}
